<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Bienvenue chez <em>Innovation Arts Martiaux</em> <%= @user[:name] %></h1>
<p>
  Votre compte a &eacute;t&eacute; cr&eacute;&eacute;,<br>
  votre nom d'usager est: <%= @user[:email] %><br>
  votre mot de passe est: <%= @user[:password] %><br>
</p>
<p>
  Pour vous connecter &agrave; votre compte, rendez-vous au http://innovationartsmartiaux.com et cliquer sur l'onglet "mon compte"
</p>
<p>Merci de vous &ecirc;tre joint &agrave; nous!</p>
<p>L'&eacute;quipe d'INNOVATION ARTS MARTIAUX!</p>
</body>
</html>