.digg_pagination {
    cursor: default;
    /* self-clearing method: */
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
}

.digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd;
}

.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #ef4036;
    color: white;
    border: 1px solid #ef4036;
}

.digg_pagination a {
    text-decoration: none;
    color: #ff3333;
    border: 1px solid #fca420;
}

.digg_pagination a:hover, .digg_pagination a:focus {
    color: white;
    background: #fca420;
    border-color: #ff3333;
}

.digg_pagination .page_info {
    background: #ef4036;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}

.digg_pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em;
}

.digg_pagination strong {
    color: white;
}

.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .digg_pagination {
    height: 1%;
}

*:first-child + html .digg_pagination {
    overflow: hidden;
}

.false {
  font-style: italic;
  color: #999999; }

table + p {
  padding-top: 32px;
  padding-top: 2rem; }

aside {
  padding-top: 32px;
  padding-top: 2rem; }

body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
    color: #666; }

a:hover {
    color: #fff;
    background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green;
  padding-bottom: 16px;
  padding-bottom: 1rem; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

.field_with_errors label {
  color: white; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff; }

#error_explanation ul li {
    font-size: 12px;
    list-style: square; }

label {
  display: block; }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ../../../..
 *= require_self
 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* end of reset */

/* box model fix */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* end of box model fix */

body {
  background-attachment: fixed;
  background-image: asset_url("./images/bg-iam.jpg"); }

main {
  width: 95%;
  margin: auto;
  font-family: 'Arimo', 'Helvetica', 'Arial', 'Lucida Grande', 'Sans-Serif'; }

.language {
  padding: 0; }

.language_select {
  padding: 16px;
  padding: 1rem;
  font-size: x-small; }

.sessions {
  display: inline-block; }

.sessions a {
  font-size: x-small; }

.language_select li:nth-child(2):before {
  content: '/'; }

.will_paginate {
  text-transform: none;
  margin-bottom: 16px;
  margin-bottom: 1rem; }

@media print {
  nav, .debug, .credits {
    display: none; } }

.debug {
  padding-top: 32px;
  padding-top: 2rem; }

nav {
  margin-top: 16px;
  margin-top: 1rem;
  text-transform: uppercase;
  font-family: 'Arimo', 'Helvetica', 'Arial', 'Lucida Grande', 'Sans-Serif';
  line-height: 28.8px;
  line-height: 1.8rem; }

nav a {
  text-decoration: none;
  color: black;
  white-space: nowrap; }

.actions {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0; }

.search_form, .new_record, .download {
  display: inline-block;
  padding-bottom: 16px;
  padding-bottom: 1rem; }

.download_link {
  font-weight: normal; }

.pagination {
  width: 100%;
  margin: auto;
  padding: 16px;
  padding: 1rem;
  padding-bottom: 32px;
  padding-bottom: 2rem; }

form, table {
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem; }

footer.credits {
  width: 100%;
  margin: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  padding-top: 32px;
  padding-top: 2rem;
  font-size: xx-small; }

footer.credits a:hover {
  background: rgba(255, 255, 255, 0);
  color: black; }

li {
  display: inline;
  padding: 8px;
  padding: 0.5rem; }

li.course_details {
  display: block;
  text-decoration: none;
  padding: 4px 16px;
  padding: 0.25rem 1rem; }

li.student_cours {
  wrap-option: none; }

a {
  padding: 8px;
  padding: 0.5rem;
  color: #ef4036; }

a:hover, a:focus {
  color: white;
  background: #fca420;
  border-color: #ff3333; }

strong {
  font-weight: bold;
  padding: 4px;
  padding: 0.25rem;
  color: #ef4036; }

label {
  padding: 4px;
  padding: 0.25rem; }

p {
  padding: 8px;
  padding: 0.5rem; }

th {
  font-weight: bold;
  color: #ef4036;
  padding-right: 16px;
  padding-right: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  padding-left: 8px;
  padding-left: 0.5rem;
  text-align: left; }

tr:nth-child(even) {
  background: rgba(195, 195, 195, .35); }

td {
  padding: 8px;
  padding: 0.5rem; }

h1, h2, h3, h4, h5, h6, label {
  color: #ef4036;
  font-weight: bold;
  padding-bottom: 8px;
  padding-bottom: 0.5rem; }

h1 {
  font-size: xx-large; }

h2 {
  font-size: x-large; }

h3 {
  font-size: large; }

h4 {
  font-size: 14.4px;
  font-size: 0.9rem; }

h5 {
  font-size: 12.8px;
  font-size: 0.8rem; }

/* Course_list section */

.container {
  display: block;
  width: 95%; }

.cours {
  border: 1px solid black;
  padding: 16px;
  padding: 1rem;
  margin: 16px;
  margin: 1rem;
  display: block;
  color: black;
  page-break-inside: avoid; }

@media print {
  article {
    page-break-inside: avoid;
    color: black;
    font-size: 0.5em; }
  h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.2rem;
    color: black;
    font-weight: bold; }
  h1 {
    font-size: 1.2rem; }
  h2 {
    font-size: 1.1rem; }
  h3 {
    font-size: 1rem; }
  h4 {
    font-size: 0.5rem; }
  h5 {
    font-size: 0.4rem; } }

.student_cours {
  vertical-align: top;
  diplay: block;
  page-break-inside: avoid; }

li.student_cours {
  display: block; }

.student_detail {
  display: block;
  vertical-align: top; }

.reservations {
  font-style: italic; }

.tarifs {
  display: inline; }

.tarif_table .tarif_details {
  width: 50%;
  display: inline; }

/*# sourceMappingURL=application-78fabe205a75b707a0d28754ee60d071.css.map*/