// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.false{
  font-style: italic;
  color: #999999;
}
table + p {
  padding-top: 2rem;
}

aside {
  padding-top: 2rem;
}