<h1>Your Payments</h1>


<h2>Unpaid Reservations</h2>
<% @unpaid_reservations.each do |reservation| %>
  <%= "Reservation ID: #{reservation.id} - #{reservation.course_name} - #{reservation.age_group} - #{t(get_week_day(reservation.day_of_week))} - #{reservation.start_time.strftime('%H:%M')} - #{reservation.end_time.strftime('%H:%M')} - #{reservation.student_name} (#{reservation.client_name})" %>
  <%= link_to 'Pay Course', new_charge_path(reservation: reservation) %>
  <br>
<% end %>
<% unless @unpaid_reservations.empty? %>
  <%= link_to 'Pay ALL Course', new_charge_path(reservation: 'all') %>
<% end %>
<br>
<br>

<h2>Paid Reservations</h2>
<% @paid_reservations.each do |reservation| %>
  <%= "Reservation ID: #{reservation.id} - #{reservation.course_name} - #{reservation.age_group} - #{t(get_week_day(reservation.day_of_week))} - #{reservation.start_time.strftime('%H:%M')} - #{reservation.end_time.strftime('%H:%M')} - #{reservation.student_name} (#{reservation.client_name})" %>
  <br>
<% end %>